// Styling for the post page
.post-preview {
  > a {
    color: $gray-900;
    &:focus,
    &:hover {
      text-decoration: none;
      color: $primary;
    }
    > .post-title {
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    > .post-subtitle {
      font-weight: 300;
      margin: 0 0 10px;
    }
  }
  > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: $gray-600;
    > a {
      text-decoration: none;
      color: $gray-900;
      &:focus,
      &:hover {
        text-decoration: underline;
        color: $primary;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 36px;
      }
    }
  }
}

.image-post{
  img {
    @extend .img-fluid, .rounded, .d-block, .text-center;
  }
}

.article-post{
  table {
    @extend .table, .table-striped, .table-responsive;
    thead {
      @extend .thead-light;
    }
  }

  img {
    @extend .img-fluid, .rounded, .d-block, .text-center;
  }
}

#single-blog {
  a {
    display: inline-block;
    position: relative;
    color: #343434;
    text-decoration: none;
    padding: 0 6px;
    &:before, &:after {
      will-change: transform;
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
    }
    &:before {
      transition: 100ms ease-out 50ms;
      transform-origin: 0 24px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: mix(#f1f1f1, #0077ff, 80%);
    }
    &:after {
      transition: 50ms ease-out;
      transform: scaleX(0);
      transform-origin: left center;
      bottom: 2px;
      right: -12px;
      border: 8px solid transparent;
      border-left-color: mix(#f1f1f1, #0077ff, 60%);
    }
    &:hover {
      &:before {
        transition: 100ms ease-out;
        transform: scaleY(.18);
        background: mix(#f1f1f1, #0077ff, 60%);
      }
      // &:after {
      //   transition: 50ms ease-out 100ms;
      //   transform: none;
      // }
    }
    &:active {
      &:before {
        transition: 100ms ease-in;
        background: mix(#f1f1f1, #0077ff, 40%);
      }
      &:after {
        transition: 100ms ease-in;
        border-left-color: mix(#f1f1f1, #0077ff, 40%);
      }
    }
  }
}